<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.oit.cst407.cloudy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchResultsActivity" />

        <activity
            android:name="edu.oit.cst407.cloudy.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="edu.oit.cst407.cloudy.DetailActivity" >
	    </activity>
        
        <activity
            android:name="edu.oit.cst407.cloudy.SearchResultsActivity"
            android:launchMode="singleTop" >
	        <intent-filter>
		        <action android:name="android.intent.action.SEARCH" />
		    </intent-filter>
		    <meta-data android:name="android.app.searchable"
            android:resource="@xml/searchable" />
	    </activity>

    </application>

</manifest>
